body {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #ccd5ae, #a3b18a);
}

button {
  padding: 10px 15px;
  border-radius: 15%;
  background-color: darkgreen;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgb(105, 10, 10);
  justify-content: center;
  padding: 10px 25px;
  background: #3a5a40;
  height: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  color: #15391d;
  font-size: 40px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: darkgreen;
}

.clock-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.length {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.break-length-box,
.session-length-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darkgreen;
  font-size: 15px;
  gap: 5px;
  padding: 30px;
  width: 150px;
  background: #6b8f71;
  border: 2px solid #386641;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.break-length-box h2,
.session-length-box h2 {
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.break-length-box button,
.session-length-box button {
  background-color: darkgreen;
}

.break-length-box span,
.session-length-box span {
  padding: 0 15px 0 15px;
  font-size: 25px;
  margin-top: 5px;
}

.timer {
  border-radius: 50%;
  border: 2px solid rgb(109, 2, 2);
  width: 350px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(135deg, #d62828, #9d0208);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.timer button {
  background-color: rgb(179, 19, 19);
  border-color: rgb(179, 19, 19);
  padding: 12px 22px;
  border-radius: 12px;
}

.timer p {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: bold;
}
#time-left {
  font-size: 45px;
  font-weight: bold;
}
